/* -------colors-------- */



.blue{
	background-image: url("../img/blue-3.png");
}

.light-blue{
	background-image: url("../img/light-blue-3.png");
}

.white{
	background-image: url("../img/white-3.png");
}

.blue, .light-blue, .white{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 41px;
	border-radius: 8px;

}

@media only screen and (max-width: 768px) and (max-height: 800px) {
	.blue, .light-blue, .white{
		background-size: 28px;
		border-radius: 7px;
	}
}


@media only screen and (max-height: 750px) {
	.blue, .light-blue, .white{
		background-size: 28px;
		border-radius: 7px;
	}
}

.blue-mini{
	background-image: url("../img/blue-3.png");
}

.light-blue-mini{
	background-image: url("../img/light-blue-3.png");
}

.white-mini{
	background-image: url("../img/white-3.png");	
}

.blue-mini, .light-blue-mini, .white-mini{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	border-radius: 4px;
}

.blue-micro{
	background-image: url("../img/blue-3.png");
}

.light-blue-micro{
	background-image: url("../img/light-blue-3.png");
}

.white-micro{
	background-image: url("../img/white-3.png");
}

.blue-micro, .light-blue-micro, .white-micro{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	border-radius: 1px;

}