@media only screen and (max-width: 768px) {
	body{
		margin-top: 5px;
	}
	
	.left-info-block{
		gap: 5px;
	}
	.detail-counter-monitor{
		font-size: 15px;
		padding: 0px;
		gap: 10px;
	}

	.detail-image{
		gap: 25px;
	}
	.stick-screen{
		padding-bottom: 15px;
	}

	.det-counter{
		margin-top: 5px;
	}
	.statistics{
		text-align: center;
		padding-top: 10px;
	}

	.score-table{
		font-size: 10px;
		gap: 7px;
		padding-left: 0;
		align-items: center;
		margin: 0;
		margin-top:20px;
	}
	.score-table-title{
		font-size: 15px;
	}

	.container{
		gap: 10px;
	}
	.glass-overlay{
		width: 388px;
		height: 722px;
	}

	.glass {
	  background-color: black;
	  height: 722px;
	  width: 380px;
	}
	.glass div	{
	
		width: 35px;
		height: 35px;
		/* border : burlywood solid 1px; */
		
	}
	.glass div:nth-child(10n+1)	{
		margin-left: 5px;	
	}

	.control-panel{
		gap: 5px;
	}
	.pause-button{
		height: 61px;
	}
	.button{
		padding: 3px;
	}

	.next-detail-screen-block{
		gap: 10px;
	}

	.nextDetailScreen{
		width: 144px;
		height: 70px;
		margin-bottom: 5px;

	}
	.next-detail-title{
		font-size: 15px;
	}

	.nextDetailScreen div{		
		width: 35px;
		height: 35px;
		border: 1px solid #a6e5ff;

	}

	.cp-block{
		width: 185px;
		padding: 10px;
	}

	.info-monitor{
		font-size: 15px;
		gap: 5px;
	}
	.animation-screen{
		padding: 1px;
		width: 158px;
	}

	.animation-screen div {
		width: 10px;
		height: 10px;
		/* border: 1px solid #a6e5ff; */
		
	}

	footer{
		width: 768px;
		margin-top: 5px;
		border: 5px solid #a6e5ff;
	}

	.year{
		margin: 10px 0px;
	}
	.school img{
		margin-top: 4px;
		width: 80px;
	}

	.git img{
		width: 40px;
	}
}