@font-face {
    font-family: Nintendo;
    src: url("/assets/fonts/nintendo_font.otf") format("opentype");
}
body{
	font-family: 'Nintendo', serif;
	margin-top: 20px;
	background-image: url("/assets/img/wall_2.jpg");
}

.buttons{
	display: flex;
	justify-content: center;
	gap: 10px;
}


.start-button{
	color: burlywood;	
	border: 2px solid burlywood;
	border-radius: 10px;
	padding: 15px;
	text-transform: capitalize;
}

.pause-button{
	color: burlywood;
	
	
	border: 2px solid burlywood;
	border-radius: 10px;
	padding: 15px;
}

.container{
	display: flex;
	gap: 30px;
	position: relative;
	justify-content: center;
	
}

.glass-overlay{
	position: fixed;
	z-index: 100;
	
	background-color: rgba(0,0,0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 546px;
	height: 1025px;

	opacity: 1;
	visibility: visible;
	transition: all 0.4 ease-out;

}

.glass-overlay-hide{
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}


.left-info-block{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.detail-counter-monitor{
	background-color: black;
	color:  burlywood;
	border: 5px solid #a6e5ff;
	border-radius: 15px;
	font-size: 20px;
	padding: 33px;

	padding-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.statistics	{
	letter-spacing: 2px;
	text-transform: capitalize;
}

.detail-image{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 36px;
}

.detail-mini-screen{
	display: flex;
	width: 100px;
	flex-wrap: wrap;

}
.detail-mini-screen div{ 
	/* border: solid 1px white; */
	width: 25px;
	height: 25px;
	
}

.stick_detail{
	margin-top: 27px;
}



.glass{
	display: flex;
	flex-wrap: wrap;
	width: 540px;
	height: 1025px;
	background-color: black;
	border: 10px solid #a6e5ff;
	border-radius: 15px;
	
}

.glass div	{
	
	width: 50px;
	height: 50px;
	/* border : burlywood solid 1px; */
	
}

.glass div:nth-child(10n+1)	{
	margin-left: 10px;
	
	
}

.control-panel{

	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.cp-block{
	width: 265px;
	background-color: black;
	color:  burlywood;
	border: 5px solid #a6e5ff;
	border-radius: 15px;
	padding: 15px;
	
}
.next-detail-screen-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}


.nextDetailScreen{
	display: flex;
	flex-wrap: wrap;
	width: 212px;
	height: 102px;
	background-color: black;
	margin-bottom: 20px;

	
}

.nextDetailScreen div	{
	
	width: 50px;
	height: 50px;
		
}

.info-monitor{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.score-table{
	display: flex;
	flex-direction: column;
	font-size: 15px;
	gap: 12px;
}
.score-table-title{
	text-align: center;
}


.blue{
	/* background-color: blue; */

	background-image: url(/assets/img/blue_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

.light-blue{
	/* background-color: blue; */

	background-image: url(/assets/img/light_blue_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

.white{
	/* background-color: blue; */

	background-image: url(/assets/img/white_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

.blue-mini{
	/* background-color: blue; */

	background-image: url(/assets/img/blue_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	border-radius: 4px;

}

.light-blue-mini{
	/* background-color: blue; */

	background-image: url(/assets/img/light_blue_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	border-radius: 4px;

}

.white-mini{
	/* background-color: blue; */

	background-image: url(/assets/img/white_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	border-radius: 4px;

}

