


.buttons{
	display: flex;
	gap: 10px;
}

.but1, .but2, .but3, .but4{
	width: 50px;
	height: 50px;
	border: 2px solid black;
}

.start-button{
	color: burlywood;
	width: 100px;
	height: 50px;
	border: 2px solid burlywood;
}

.pause-button{
	color: burlywood;
	width: 100px;
	height: 50px;
	border: 2px solid burlywood;
}

.container{
	display: flex;
	gap: 30px;
	position: relative;
	justify-content: center;
	
}

.glass-overlay{
	position: fixed;
	z-index: 100;
	
	background-color: rgba(0,0,0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 900px;
	height: 1040px;

	opacity: 1;
	visibility: visible;
	transition: all 0.4 ease-out;

}

.glass-overlay-hide{
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}

.start-button{
	color: burlywood;
	width: 100px;
	height: 50px;
	border: 2px solid burlywood;
}


.glass{
	display: flex;
	flex-wrap: wrap;
	width: 520px;
	height: 1010px;
	background-color: black;
	
}

.glass div	{
	
	width: 50px;
	height: 50px;
	/* border : burlywood solid 1px; */
	
}

.glass div:nth-child(10n+1)	{
	margin-left: 10px;
	
	
}

.nextDetailScreen{
	display: flex;
	flex-wrap: wrap;
	width: 208px;
	height: 104px;
	background-color: brown;
}

.nextDetailScreen div	{
	
	width: 50px;
	height: 50px;
	
	
}

.detail{
	/* background-color: blue; */

	background-image: url(/assets/img/l_blue2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

.detail2{
	/* background-color: blue; */

	background-image: url(/assets/img/blue2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

.detail3{
	/* background-color: blue; */

	background-image: url(/assets/img/white2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

