@font-face {
    font-family: Nintendo;
    src: url("/assets/fonts/nintendo_font.otf") format("opentype");
}
body{
	font-family: 'Nintendo', serif;
}

.buttons{
	display: flex;
	gap: 10px;
}

.but1, .but2, .but3, .but4{
	width: 50px;
	height: 50px;
	border: 2px solid black;
}

.start-button{
	color: burlywood;
	width: 100px;
	height: 50px;
	border: 2px solid burlywood;
}

.pause-button{
	color: burlywood;
	width: 100px;
	height: 50px;
	border: 2px solid burlywood;
}

.container{
	display: flex;
	gap: 30px;
	position: relative;
	justify-content: center;
	
}

.glass-overlay{
	position: fixed;
	z-index: 100;
	
	background-color: rgba(0,0,0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 900px;
	height: 1040px;

	opacity: 1;
	visibility: visible;
	transition: all 0.4 ease-out;

}

.glass-overlay-hide{
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}

.start-button{
	color: burlywood;
	width: 100px;
	height: 50px;
	border: 2px solid burlywood;
}
.detail-counter-monitor{
	background-color: black;
	color:  burlywood;
	border: 5px solid #a6e5ff;
	border-radius: 15px;
	font-size: 20px;
	padding: 10px;

	padding-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.detail-image{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 36px;
}

.detail-mini-screen{
	display: flex;
	width: 100px;
	flex-wrap: wrap;

}
.detail-mini-screen div{ 
	/* border: solid 1px white; */
	width: 25px;
	height: 25px;
	
}

.stick_detail{
	margin-top: 27px;
}



.glass{
	display: flex;
	flex-wrap: wrap;
	width: 540px;
	height: 1025px;
	background-color: black;
	border: 10px solid #a6e5ff;
	border-radius: 15px;
	
}

.glass div	{
	
	width: 50px;
	height: 50px;
	/* border : burlywood solid 1px; */
	
}

.glass div:nth-child(10n+1)	{
	margin-left: 10px;
	
	
}

.nextDetailScreen{
	display: flex;
	flex-wrap: wrap;
	width: 208px;
	height: 104px;
	background-color: brown;
}

.nextDetailScreen div	{
	
	width: 50px;
	height: 50px;
	
	
}

.blue{
	/* background-color: blue; */

	background-image: url(/assets/img/blue_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

.light-blue{
	/* background-color: blue; */

	background-image: url(/assets/img/light_blue_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

.white{
	/* background-color: blue; */

	background-image: url(/assets/img/white_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px;
	border-radius: 10px;

}

.blue-mini{
	/* background-color: blue; */

	background-image: url(/assets/img/blue_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	border-radius: 4px;

}

.light-blue-mini{
	/* background-color: blue; */

	background-image: url(/assets/img/light_blue_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	border-radius: 4px;

}

.white-mini{
	/* background-color: blue; */

	background-image: url(/assets/img/white_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	border-radius: 4px;

}

